#coverUrl{
    min-width: 300px;
    min-height: 450px;
   max-width: 450px;
    max-height: 450px;
    border-radius: 20px
}
/* #movieTitle{
    text-align: center;
    padding-top: 5%
}; */

p{
    font-size: 20px;
    text-align: left;
}
#genre{
    text-align: right;
}
#time{
    text-align: left;
}
/* #year{
    text-align: start;
} */
iframe{
    height: 480px;
    width: 720px ;
    margin-top: 3%;
}
.video{
    margin-top:  5%;
}
.container{
    margin-top: 5%;
}
