<div *ngIf="movieList" id="movieTable">
    <h1 class="text-center">Welcome to MDBM</h1>
<h5 class="text-center">Total Movies in Libary : {{movieList.length}}</h5>


    <!-- <ol>
        <li *ngFor="let m of movieList">
            <img src="{{m.coverUrl}}" alt="" (click)="navigateToDetails(m.id)" >
          </li>
    </ol> -->

</div>
<div id="carouselOne" >
<ngu-carousel [inputs]="carouselOne" >
          <ngu-item NguCarouselItem *ngFor="let m of movieList" >
                <img src="{{m.coverUrl}}" alt="" (click)="navigateToDetails(m.id)" id="img" onError="this.src='https://elitescreens.com/images/product_album/no_image.png';">
          </ngu-item>
          <button NguCarouselPrev class='leftRs' hidden>&lt;</button>
          <button NguCarouselNext class='rightRs' hidden>&gt;</button>
    </ngu-carousel>
</div>
