table{
   text-align: center;
   padding-left: 10px;
}
th{
    text-align: center;
}
h1{
    text-align: center;
}
#movieTitle{
    cursor: pointer;
}
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
  #movieTable{
    margin-left: 5%;
    margin-right: 5%;
    
  }
  th{
      cursor: pointer;
  }
  #table2{
    border: 3px;
    border-color: black;
    border-style: solid;
    margin-bottom: 2%;
    margin-top: 2%;
    border-radius: 10px;
  }